<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  <style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>



</head>
<body>
    <div>
    <h1>CS CAR SALES, kADAWATHA</h1>

      <form onSubmit={changeonClick}  encType='multipart/form-data'>
              <div className="form-group mb-3">  
                <label>Order ID : </label>
                <input  type="text"
                    required
                    disabled
                    className="input"
                    value={{orderId}}
                    
                    
                    
                    />
              
              </div>

              <div className="form-group mb-3"> 
                <label>Shipped Date </label>
                <input  type="text"
                    required
                    disabled
                    className="form-control"
                    value={{shippedDate}}
            
                
            
                    />
                
              </div>

              <div className="form-group mb-3"> 
          <label>HS Code</label>
                     <input  type="text"
                    required
                    className="form-control"
                    value={{hsCode}}
                    placeholder={{hsCode}}
                
            
                    />
        </div> 

            
              <div className="form-group mb-3"> 
                <label>deliveryOrder </label>
                <input  type="text"
                    required
                    disabled
                    className="form-control"
                    value={{deliveryOrder}}
                    
                    
            
                    />
                    
              </div>
            
              <div className="form-group mb-3"> 
                <label>delivery Order </label>
            <img src="/frontend/public/images/Delivery-order-form-1.jpg
            ">
        
              </div>

             <label>BL </label>
            <img src="/frontend/public/receivings/Delivery-order-form-1.jpg
            ">
        
              </div>
           

            <br></br>
            </form>
            </div>

            <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
              

</body>
</html> 